      body {
        background-color: #fff;
        color: #333;
        font-family: Times New Roman;
        padding: 1em;
        margin: 10px;
      }
h1 {
      color: red;
      font-size: 4em;
      font-family: Arial;
      border-bottom: 10px solid black;
}

      h2 {
        font-family: sans-serif;
        font-size: 1em;
      }

ul{
  background-color:#00C9FF;
  border: 5px solid black;
  padding: 10px;
  width:80px;
}

      .job-title {
        color: #B200FF;
        font-weight: bold;
      }
